/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: PTSans, sans-serif;
  overflow-x: hidden;
}

.container {
  z-index: 1;
  padding: 30px 5%;
}

.header {
  min-height: 1000px;
  background: url('../img/guys.png') no-repeat 90% center, url('../img/1366x768.jpg') no-repeat 0 0;
}

.header__name {
  color: rgb(254, 254, 254);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.header__info {
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  height: 55px;
  align-items: flex-end;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
  background: url("../img/icons/cleaningIcon.png") no-repeat 0 0;
  background-size: contain;
  height: 100%;
}

.header__phone {
  display: flex;
  align-items: end;
  padding-left: 30px;
  background: url("../img/icons/phoneIcon.png") no-repeat 0 0;
  background-size: contain;
}

.header__number {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.header__description {
  margin-top: 215px;
}

.header__title {
  font-size: 42px;
  font-family: PTSerif;
  color: rgb(254, 254, 254);
  font-weight: bold;
}

.header__subtitle {
  margin-top: 40px;
  font-size: 28px;
  color: rgb(254, 254, 254);
  line-height: 1.2;
}

.header__button {
  margin-top: 45px;
  display: inline-block;
  border-radius: 30px;
  background-color: #e19642;
  padding: 25px 35px;
}

.header__button:hover {
  cursor: pointer;
  box-shadow: 0 0 19px 0 #e19642;
}

.header__costCounting {
  color: rgb(254, 254, 254);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.advantages__wrapper {
  z-index: 3;
  margin-top: -200px;
}

.advantages {

  display: flex;
  justify-content: center;
  align-items: center;
}


.advantages__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 1 auto;
  width: 100vw;
}

.advantages__flex-item {
  margin: 5px;
}


.advantages__item {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid #e19642;
  border-radius: 10px;
  max-width: 240px;
  height: 250px;
  background-color: white;
}

.advantages__item:hover {
  color: white;
  background-color: #e19642;
  cursor: pointer;
  box-shadow: 0 0 19px 0 #e19642;
}

.advantages__title {
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.advantages__context {
  line-height: 1.2;
  text-align: center;
}

.title {
  font-size: 32px;
  font-family: "PTSerif";
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.main__subtitle {
  margin-top: 45px;
  font-family: "PTSans";
  line-height: 1.2;
  text-align: center;

}

.rooms{
  display: flex;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  font-family: "PTSans";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  border-bottom: 5px solid #e19642;
  text-align: center;
}

.room{
  padding: 5px 10px;
  cursor: pointer;
}

.rooms .active{
  background-color: #e19642;
  border-radius: 18px;

}

.main__slider {
  width: 100%;
  margin: 50px auto 20px;
}

.main__slider .slider__slide {
  position: relative;
}

.main__slider .slider__slide img {
  height: 700px;
  margin: 0 auto;
}

.main__slider .slider__inner {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.tooltip {
  cursor: pointer;
  padding: 6px;
  border-radius: 18px;
  background-color: white;
  height: 35px;
  display: flex;

}

.tooltip__windows {
  position: absolute;
  top: 13%;
  left: 14%;
}

.tooltip__walls {
  position: absolute;
  top: 13%;
  left: 80%;
}

.tooltip__furniture {
  position: absolute;
  top: 55%;
  left: 53%;
}

.tooltip__carpet {
  position: absolute;
  bottom: 8%;
  left: 45%;
}

.tooltip__floor {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.tooltip__text {
  display: none;
}

.tooltip__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.tooltip__mark {
  border: 7px solid orange;
  padding: 5px;
  display: flex;
  border-radius: 50%;
}

.active-tooltip {
  border-radius: 18px;
}

.active-tooltip-text {
  z-index: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  white-space: nowrap;
}

.reviews__title {
  margin-bottom: 70px;
}

.reviews__next.swiper-button-next, .reviews__prev.swiper-button-prev{
  border-radius: 15px;
  width: 70px;
  height: 50px;
  background-color: #167966;
}

.reviews__next.swiper-button-next{
  right: 0px;
}

.reviews__next.swiper-button-next::after{
  content: none;
}

.reviews__next.swiper-button-next span{
  display: block;
  width: 40px;
  background-color: #fff;
  height: 2px;
}

.reviews__next.swiper-button-next>span::before{
  content: '';
  display: block;
  width: 50%;
  background-color: #fff;
  height: 2px;
  transform-origin: right center;
  transform: translate(21px, 1px) rotate(45deg)
}

.reviews__next.swiper-button-next>span::after{
  content: '';
  display: block;
  width: 50%;
  background-color: #fff;
  height: 2px;
  transform-origin: right center;
  transform: translate(21px, -2px) rotate(-45deg)
}


.reviews__prev.swiper-button-prev{
  left: 0px;
}

.reviews__prev.swiper-button-prev::after{
  content: none;
}

.reviews__prev.swiper-button-prev span{
  display: block;
  width: 40px;
  background-color: #fff;
  height: 2px;
}

.reviews__prev.swiper-button-prev>span::before{
  content: '';
  display: block;
  width: 50%;
  background-color: #fff;
  height: 2px;
  transform-origin: right center;
  transform: translate(-21px, 1px) rotate(135deg)
}

.reviews__prev.swiper-button-prev>span::after{
  content: '';
  display: block;
  width: 50%;
  background-color: #fff;
  height: 2px;
  transform-origin: right center;
  transform: translate(-21px, -2px) rotate(-135deg)
}

.reviews__next.swiper-button-next:hover span,
.reviews__next.swiper-button-next:hover span::before,
.reviews__next.swiper-button-next:hover span::after,
.reviews__prev.swiper-button-prev:hover span,
.reviews__prev.swiper-button-prev:hover span::before,
.reviews__prev.swiper-button-prev:hover span::after{
  background-color: #e19642;
}


.reviews__slider{
  width: 100%;
  height: 100%;
}


.reviews__wrapper{
}

.reviews__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 0;
  opacity: 0.6;

}

.reviews__slide.swiper-slide{
  width: calc(70%);
  visibility: hidden;
}

.reviews__slide.swiper-slide-active{
  opacity: 1;
  z-index: 1;
}


.reviews__inner{
  margin: 0 auto;
  background-color: #167966;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2.5% 14% 2.5% 9.8%;
  border-radius: 18px;
  justify-content: center;  
  text-align: left;

  /* max-width: 900px; */
}

.reviews__header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  /* width: 75%; */
}

.reviews__face {
  background: url('../img/reviewPicture.jpg') no-repeat;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 15px; 
}

.reviews__name {
  font-family: "PTSans";
  text-transform: capitalize;
  line-height: 1.2;
}

.reviews__stars{
  margin-bottom: 20px;
  /* width: 75%; */
}

.reviews__content {
  font-family: "Myriad Pro";
  line-height: 1.2;
  text-align: justify;
  font-weight: 400;
  /* width: 75%; */
}

@media screen and (max-width: 1280px) {
  .main__slider .slider__slide img {
    height: 500px;
    margin: 0 auto;
  }

  .advantages {
    max-width: 502px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 960px) {
  .main__slider .slider__slide img {
    height: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 760px) {
  .header {
    background: url('../img/1366x768.jpg') no-repeat 0 0;
  }

  .main__slider .slider__slide img {
    height: 300px;
    margin: 0 auto;
  }

  .header__description {
    text-align: center;
  }
  .reviews__header{
    flex-direction: column;
    align-items:flex-start;
  }
  .reviews__face{
    margin: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 640px) {
  .header__number {
    color: white;
    padding-left: 30px;
    background: url("../img/icons/phone-call-white.png") no-repeat 0 0;
    background-size: 17px;
  }

  .advantages {
    width: auto;
  }

  .main__slider .slider__slide img {
    height: 250px;
    margin: 0 auto;
  }

  .tooltip__walls span {
    position: absolute;
    bottom: -30px;
    left: -60px;
    border-radius: 18px;
    padding: 5px 10px
  }

  .rooms {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  body {
    font-size: 14px;
  }

  .header__number {
    background-size: 14px;
  }

  .advantages__item {
    height: 210px;
  }

  .main__slider .slider__slide img {
    height: 180px;
    margin: 0 auto;
  }

  .tooltip {
    padding: 3px;
    height: 30px;
  }

  .tooltip__text {
    margin-left: 5px;
  }

  .tooltip__walls span {
    bottom: -25px;
    left: -53px;
    /* box-shadow: 0px 0px 16px 1px black; */
  }

}