/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

html{
  font-size: 18px;
  font-family: 'Caveat', cursive;
}

body {
  /* font-size: 18px; */
  overflow-x: hidden;
}

.container {
  z-index: 1;
  padding: 30px 13%;
}

.header {
  position: relative;
  min-height: 1000px;
  background: url('../img/guys.png') no-repeat 85% center;
}

.header__background{
  /* display: none; */
  position: absolute;
  /* top: 0;
  left: 0; */
  z-index: -2;
  /* width: 100%;
  height: 150%; */

}

.header__background img{
  min-width: 1040px;
}

.header__name {
  color: rgb(254, 254, 254);
  font-weight: bold;
}

.header__info {
  display: flex;
  justify-content: space-between;
  /* min-height: 55px;
  height: 55px; */
  align-items: flex-end;
}

.logo {
  display: flex;
  align-items: baseline;
  height: 100%;
}

.logo img{
  margin-right: 5px;
}

.header__phone {
  display: flex;
  align-items: end;
  padding-left: 30px;
  background: url("../img/icons/phoneIcon.png") no-repeat 0 0;
  background-size: contain;
}

.header__number {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.header__description {
  margin-top: 12rem;
}

.header__title {
  font-size: 2.3rem;
  color: rgb(254, 254, 254);
  font-weight: bold;
}

.header__subtitle {
  margin-top: 40px;
  font-size: 1.6rem;
  color: rgb(254, 254, 254);
  line-height: 1.2;
}

.button{
  display: inline-block;
  border-radius: 30px;
  background-color: #e19642;
  padding: 20px 35px;
}

.header__button {
  margin-top: 2.5rem;
  padding: 25px 35px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 19px 0 #e19642;
}

.button span {
  color: rgb(254, 254, 254);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.advantages__wrapper {
  z-index: 3;
  margin-top: -11rem;
}

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 1 auto;
  width: 100vw;
}

.advantages__flex-item {
  margin: 5px;
}

.advantages__item {
  padding: 2.8rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid #e19642;
  border-radius: 10px;
  max-width: 13.3rem;
  height: 13.9rem;
  background-color: white;
}

.advantages__item:hover {
  color: white;
  background-color: #e19642;
  cursor: pointer;
  box-shadow: 0 0 19px 0 #e19642;
}

.advantages__title {
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.advantages__context {
  line-height: 1.2;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}


.main__subtitle {
  margin-top: 45px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 45px;
}

.rooms{
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  border-bottom: 5px solid #e19642;
  text-align: center;
}

.room{
  padding: 5px 10px;
  cursor: pointer;
}

.rooms .active{
  background-color: #e19642;
  border-radius: 18px;

}

.main__slider {
  width: 100%;
  margin: 50px auto 20px;
}

.main__slider .slider__slide {
  position: relative;
}

.main__slider .slider__slide img {
  height: 700px;
  margin: 0 auto;
}

.main__slider .slider__inner {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.tooltip {
  cursor: pointer;
  padding: 6px;
  border-radius: 18px;
  background-color: white;
  height: 35px;
  display: flex;

}

.tooltip__windows {
  position: absolute;
  top: 13%;
  left: 14%;
}

.tooltip__walls {
  position: absolute;
  top: 13%;
  left: 80%;
}

.tooltip__furniture {
  position: absolute;
  top: 55%;
  left: 53%;
}

.tooltip__carpet {
  position: absolute;
  bottom: 8%;
  left: 45%;
}

.tooltip__floor {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.tooltip__text {
  display: none;
}

.tooltip__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.tooltip__mark {
  border: 7px solid #e19642;
  padding: 5px;
  display: flex;
  border-radius: 50%;
}

.active-tooltip {
  border-radius: 18px;
}

.active-tooltip-text {
  z-index: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  white-space: nowrap;
}

.reviews__title {
  margin-bottom: 70px;
}

.reviews__next.swiper-button-next, .reviews__prev.swiper-button-prev{
  border-radius: 15px;
  width: 70px;
  height: 50px;
  background-color: #167966;
}

.reviews__next.swiper-button-next{
  right: 0px;
}

.reviews__next.swiper-button-next::after{
  content: none;
}

.reviews__next.swiper-button-next span{
  display: block;
  width: 40px;
  background-color: #fff;
  height: 2px;
}

.reviews__next.swiper-button-next>span::before{
  content: '';
  display: block;
  width: 50%;
  background-color: #fff;
  height: 2px;
  transform-origin: right center;
  transform: translate(21px, 1px) rotate(45deg)
}

.reviews__next.swiper-button-next>span::after{
  content: '';
  display: block;
  width: 50%;
  background-color: #fff;
  height: 2px;
  transform-origin: right center;
  transform: translate(21px, -2px) rotate(-45deg)
}


.reviews__prev.swiper-button-prev{
  left: 0px;
}

.reviews__prev.swiper-button-prev::after{
  content: none;
}

.reviews__prev.swiper-button-prev span{
  display: block;
  width: 40px;
  background-color: #fff;
  height: 2px;
}

.reviews__prev.swiper-button-prev>span::before{
  content: '';
  display: block;
  width: 50%;
  background-color: #fff;
  height: 2px;
  transform-origin: right center;
  transform: translate(-21px, 1px) rotate(135deg)
}

.reviews__prev.swiper-button-prev>span::after{
  content: '';
  display: block;
  width: 50%;
  background-color: #fff;
  height: 2px;
  transform-origin: right center;
  transform: translate(-21px, -2px) rotate(-135deg)
}

.reviews__next.swiper-button-next:hover span,
.reviews__next.swiper-button-next:hover span::before,
.reviews__next.swiper-button-next:hover span::after,
.reviews__prev.swiper-button-prev:hover span,
.reviews__prev.swiper-button-prev:hover span::before,
.reviews__prev.swiper-button-prev:hover span::after{
  background-color: #e19642;
}


.reviews__slider{
  width: 100%;
  height: 100%;
}

.reviews__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 0;
  opacity: 0.6;

}

.reviews__slide.swiper-slide{
  width: calc(70%);
  visibility: hidden;
}

.reviews__slide.swiper-slide-active{
  opacity: 1;
  z-index: 1;
}


.reviews__inner{
  margin: 0 auto;
  background-color: #167966;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2.5% 14% 2.5% 9.8%;
  border-radius: 18px;
  justify-content: center;  
  text-align: left;

  /* max-width: 900px; */
}

.reviews__header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  /* width: 75%; */
}

.reviews__face {
  background: url('../img/reviewPicture.jpg') no-repeat;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 15px; 
}

.reviews__name {
  text-transform: capitalize;
  line-height: 1.2;
}

.reviews__stars{
  margin-bottom: 20px;
  
}

.reviews__stars i:nth-child(2), .reviews__stars i:nth-child(4){
  margin: 0 5px;
}

.reviews__content {
  line-height: 1.2;
  text-align: justify;
}

.cleaning-prices__title{
  margin-bottom: 40px;
}

.cleaning-prices__wrapper{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.cleaning-prices__flex-item{
  display: flex;
  flex: 1 1 33.333%;
  max-width: 27rem;
  min-width: 15.5rem;
  padding: 0 20px;
  margin: 20px 0;
}

.cleaning-prices__item{
  border-radius: 15px;
  box-shadow: 0 0 40px 4px #c7c2c2;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.2;
}

.cleaning-prices__img{
  margin-bottom: 35px;
}

.cleaning-prices__service{
  font-weight: bold;
  margin-bottom: 25px;
}

.cleaning-prices__description{
  margin-bottom: 30px;
}

.cleaning-prices__time{
  margin-bottom: 20px;
}

.cleaning-prices__price{
margin-bottom: 50px;
font-weight: bold;
text-transform: uppercase;
}

.cleaning-prices__button{
  padding: 20px 35px;
}

.cleaning-prices__button span{
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}

.order-form__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  
}

.order-form__title{
  margin-bottom: 40px;
}

.order-form__title span{
  font-weight: normal;
}

.order-form__form{
  text-align: center;
  max-width: 430px;
  position: relative;
}

.order-form__form::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/gif/loading.gif') rgba(105, 105, 105, 0.082) no-repeat center / 200px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 40px 4px #afa5a5;
  border-radius: 30px;
}

.order-form__form._sending::after {
  opacity: 1;
  visibility: visible;
}

.order-form__inputs{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.order-form__inputs input{
  font-size: 1rem;
  border: 2px solid #84b8ae;
  border-radius: 10px;
  display: block;
  padding: 25px;
  width: 100%;
}

.order-form__inputs input._error{
  border: 2px solid red
}

.order-form__name{
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.order-form__number{
  font-size: 1.3rem;
}

.order-form__button{
  padding: 20px 60px;
}

.footer__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo{
  font-weight: bold;
  margin-bottom: 2.8rem;
}

.footer__policy{
  margin-bottom: 15px;
  font-size: 0.8rem;
  text-align: center;
}

.footer__copyright{
  font-size: 0.6rem;
  line-height: 1.2;
  text-align: center;  
}


@media screen and (max-width: 1280px) {
  .main__slider .slider__slide img {
    height: 500px;
    margin: 0 auto;
  }

  .advantages {
    max-width: 502px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 960px) {
  .header {
    background: none;
  }
  
  .header__description {
    text-align: center;
  }

  .header__phone{
    background: url("../img/icons/phone-call-white.png") no-repeat 0 0;
    background-size: 17px;
  }

  .header__number {
    color: white;
  }

  .advantages__wrapper {
    margin-top: -19rem;
  }

  .main__slider .slider__slide img {
    height: 400px;
    margin: 0 auto;
  }
  .cleaning-prices__wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -20px 0;
  }

  .cleaning-prices__flex-item{
    padding: 0;
  }

  .order-form__wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .order-form__image{
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 760px) {

  .main__slider .slider__slide img {
    height: 300px;
    margin: 0 auto;
  }

  .reviews__inner{
    padding: 6.5% 14% 6.5% 9.8%
  }

  .reviews__header{
    flex-direction: column;
    align-items:flex-start;
  }
  .reviews__face{
    margin: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 640px) {

  /* .container{
    padding: 30px 10%; 
  } */

  .advantages {
    /* width: auto; */
  }

  .main__slider .slider__slide img {
    height: 250px;
    margin: 0 auto;
  }

  .tooltip__walls span {
    position: absolute;
    bottom: -30px;
    left: -60px;
    border-radius: 18px;
    padding: 5px 10px
  }

  .rooms {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .order-form__image{
    width: 100%;
    max-width: 438px;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 14px;
  }

  .header__name{
    font-size: 0;
  }

  .header__phone {
    background-size: 14px;
    padding-left: 25px;
  }

  .advantages__wrapper {
    margin-top: -32rem;
  }


  .advantages__item {
    height: 210px;
  }

  .main__slider .slider__slide img {
    height: 180px;
    margin: 0 auto;
  }

  .tooltip {
    padding: 3px;
    height: 30px;
  }

  .tooltip__text {
    margin-left: 5px;
  }

  .tooltip__walls span {
    bottom: -25px;
    left: -35px;
    /* box-shadow: 0px 0px 16px 1px black; */
  }



}